.inf {
  position: relative;
  height: 50px;
  opacity: 0.8;
  background: linear-gradient(to right, rgb(167, 133, 236) 8%,rgb(240, 126, 236) 50%, rgb(238, 171, 238) 90%);
  flex: 0 0 auto;
}

.inf__container {
  position: absolute;
  left: 2%;
  top: 50%;
  transform: translateY(-50%); 
  height: 20px;
  color: white;
  font: italic 500 15px Arial;
}

.inf__socialNetworks {
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%); 
  height: 30px;
  width: 120px;
}

.inf__location {
  padding-top: 1px;  
  padding-left: 23px;
  float: left;
  background-image: url(./images/home.png);
  background-repeat: no-repeat;
  background-position: 0 -1;
  background-size: 16.5px 16.5px;
}

.inf__phone {
  float: left;
  margin-left: 25px;
  padding-top: 1px;  
  padding-left: 23px;
  background-image: url(./images/phone.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 19px 19px;
}

.inf__time {
  float: left;
  margin-left: 25px;
  padding-top: 1px;  
  padding-left: 23px;
  background-image: url(./images/time.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 17px 17px;
}
 
@mixin icon {
  width: 30px;
  height: 30px;
  float: right;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 30px 30px;
}

.inf__vk {
  @include icon;
  margin-right: 15px;
  background-image: url(./images/vk.png);
}

.inf__twitter {
  @include icon;
  margin-right: 15px;
  background-image: url(./images/twitter.png);
  background-position: 0 2;
  background-size: 30px 24px;
}

.inf__inst {
  @include icon;
  background-image: url(./images/inst.png);
}
